.nav{
    list-style-type: none;
    margin: 0 0 0 4em;
    padding: 0;
    overflow: hidden;
}

.nav li.navmain {
    display: none;
}
.imglogo{
    width: 48px;
    height: 48px;
    position: absolute;
    object-fit: none;
}

.nav li {
    float: left;
    padding: 10px;
    font-size: 0.9em;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

.nav li a {
    /*color: darkblue;*/
}

@media (max-width: 801px) {
    .nav{
        display: none;
    }
}