@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: white;
}

a {
    color: darkblue;
}

h1, h2, h3{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.about {;
    display:inline-block;
}

.about img {
    display:block;
    margin: 0;
    padding: 0 0 2em 0;
}

h1.header{
    padding: 0 0 0 1em;
    text-transform: uppercase;
    font-weight: normal;
}

p.menu{
    padding: 0 0 0 2em;
}

p.contacts{
    padding: 0 0 0 2em;
}

p.copyring{
    padding: 0 0 0 2em;
}

.pricetotal{
    /*background: antiquewhite;*/
}

.pricetotal h3{
    background: antiquewhite;
    width: 250px;
    padding: 10px;
    font-weight: bold;
}