/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
/*@import url(//db.onlinewebfonts.com/c/429d980b8384fbd50ca346e3a8a0e6e5?family=Susan+Classic);*/

body {
    background: black;
    color: gainsboro;
    font-family: 'Roboto', sans-serif;
}

a {
    color: cornflowerblue;
}

/*h1, h2, h3{*/
/*    font-weight: normal;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/

.mainpageheader{
    font-size: 2.7em;
    font-weight: bold;
    /*color: black;*/
}

.about {;
    display:inline-block;
}

.about img {
    display:block;
    margin: 0;
    padding: 0 0 2em 0;
}

.header{
    padding: 0 0 0 1em;
    text-transform: uppercase;
    font-weight: normal;
}

h1.productInfoHead{
    font-family: "Susan Classic",  sans-serif;;
    font-size: 3.2em;
    font-weight: bold;
}

h2.subheaderProduct{
    padding: 0.5em 0 0 0;
    font-weight: normal;
    font-size: 1.5em;
}

h1.listProduct{
    margin: 0.5em 0 0 0;
    padding: 0;
    font-family: "Susan Classic",  sans-serif;;
    font-size: 3.2em;
    font-weight: bold;
}
h2.listSubProduct{
    margin: 0 0 1.5em 0;
    padding:0;
    font-weight: normal;
    font-size: 1.5em;
}

h1.listProductFilter{
    margin: 0.5em 0 0 0;
    padding: 0;
    font-family: "Susan Classic",  sans-serif;;
    font-size: 3.2em;
    font-weight: bold;
}
h2.listSubProductFilter{
    margin: 0 0 1.5em 0;
    padding:0;
    font-weight: normal;
    font-size: 1.5em;
}

input[type='number'] {
    /*-moz-appearance: textfield;*/
    width: 96%;
}

select::-ms-expand { display: none; }
select {
    box-shadow:none;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px;
    width: 44px;
}
/*select::-ms-expand { display: none; }*/

@media (max-width: 801px) {
    .container {
        margin: 0;
        padding: 0 20px 0 20px;
        grid-template-areas: 'menu' 'cart' 'title' 'sideform' 'result' 'img' 'footer';
        grid-template-columns: 1fr;
    }

    .imglogo{
        display: none;
    }

    .mainpageheader {
        font-size: 2.4em;
    }

    h1.productInfoHead{
        font-size: 2.5em;
    }

    h2.subheaderProduct{
        font-size: 1.0em;
    }

    .cart{
        grid-area: cart;
        justify-self: flex-end;
    }

    .cart div{
        font-size: 2.5vw;
    }

    input[type='number'] {
        width: 97%;
    }
}

@media (max-width: 601px) {
    .container {
        margin: 0;
        padding: 0 20px 0 20px;
        grid-template-areas:
                'menu'
                'cart'
                'title'
                'sideform'
                'result'
                'img'
                'footer';
        grid-template-columns: 1fr;
    }

    .imglogo{
        display: none;
    }

    h1.productInfoHead{
        font-size: 2.1em;
    }

    h2.subheaderProduct{
        font-size: 1.0em;
    }

    h1.productInfoHead{
        font-size: 2.1em;
    }

    .cart{
        grid-area: cart;
        justify-self: flex-end;
    }

    .cart div{
        font-size: 3.0vw;
    }

    .custom-select{
        font-size: 1.5em;
    }

    .custom-size{
        font-size: 1.5em;
    }

    input[type='number'] {
        width: 95%;
    }

}

@media (max-width: 481px) {
    .container {
        margin: 0;
        padding: 0 20px 0 20px;
        grid-template-areas:
                'menu'
                'cart'
                'title'
                'sideform'
                'result'
                'img'
                'footer';
        grid-template-columns: 1fr;
    }

    .imglogo{
        display: none;
    }

    .item{
        margin: 0;
    }

    h1.productInfoHead{
        font-size: 1.6em;
    }

    h2.subheaderProduct{
        font-size: 0.8em;
    }

    h1.productInfoHead{
        font-size: 2.1em;
    }

    .cart{
        grid-area: cart;
        justify-self: flex-end;
    }

    .cart div{
        font-size: 3.0vw;
    }

    .custom-select{
        font-size: 1.5em;
    }

    .custom-size{
        font-size: 1.5em;
    }

    input[type='number'] {
        width: 94%;
    }
}

@media (max-width: 321px) {
    .container {
        margin: 0;
        padding: 0 1px 0 1px;
        grid-template-areas:
                'menu'
                'cart'
                'title'
                'sideform'
                'result'
                'img'
                'footer';
        grid-template-columns: 1fr;
    }

    .imglogo{
        display: none;
    }

    h1.mainpageheader {
        font-size: 2.0em;
    }

    h1.productInfoHead{
        font-size: 1.4em;
    }

    h2.subheaderProduct{
        font-size: 0.9em;
    }

    h1.productInfoHead{
        font-size: 1.5em;
    }

    .cart{
        grid-area: cart;
        justify-self: flex-end;
    }

    .cart div{
        font-size: 3.0vw;
    }

    .custom-select{
        font-size: 1.5em;
    }

    .custom-size{
        font-size: 1.5em;
    }

    input[type='number'] {
        width: 92%;
    }
}

p.menu{
    padding: 0 0 0 2em;
}

p.contacts{
    padding: 0 0 0 2em;
}

p.copyring{
    padding: 0 0 0 2em;
}

.pricetotal{
   margin: 0;
   padding: 0.5em 0 0 0;
   border-top: 1px solid #333333;
}

.pricetotal p{
    background:black;
    text-transform: uppercase;
    color: yellow;
}

.pricetotal h3{
    background: antiquewhite;
    width: 250px;
    padding: 10px;
    font-weight: bold;
}

.map{
    padding: 0;
}

.line {
    border-bottom: 1px solid gray; /* Параметры линии */
}

.note{
    padding: 15px 10px 15px 10px;
    border: 1px solid #333333;
    border-left: none;
    border-right: none;
}
.note > p {
    font-size: 0.8em;
    line-height: 1.2em;
    color: #CFD8DC;
}

.note > p.war{
    color: yellow;
    text-transform: uppercase;
}

.note > p.owndesign{
    color: #4CAF50;
    margin: 1em 0 0 0;
}

.note > p.owndesign > span.desmail{
    color: cornflowerblue;
}