@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: black;
    color: gainsboro;
}

a {
    color: cornflowerblue;
}

h1, h2, h3{
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.mainpageheader{
    font-size: 3em;
    font-weight: bold;
    /*color: black;*/
}

.about {;
    display:inline-block;
}

.about img {
    display:block;
    margin: 0;
    padding: 0 0 2em 0;
}

h1.header{
    padding: 0 0 0 1em;
    text-transform: uppercase;
    font-weight: normal;
}

p.menu{
    padding: 0 0 0 2em;
}

p.contacts{
    padding: 0 0 0 2em;
}

p.copyring{
    padding: 0 0 0 2em;
}

.pricetotal p{
    background:black;
    text-transform: uppercase;
    color: yellow;
}

.pricetotal h3{
    background: antiquewhite;
    width: 250px;
    padding: 10px;
    font-weight: bold;
}

.map{
    padding: 20px;
}

.line {
    border-bottom: 1px solid gray; /* Параметры линии */
}